<%- include('../_partial/_header'); -%>
<main class="page">

  <div class="single-post">
    <div class="single-post-header"><%= post.title %></div>
    <div class="single-post-content">
      <%= post.content %>
    </div>
  </div>

</main>

<%- include('../_partial/_footer'); -%>